<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MIEXMI">

        <!-- Activity de LOGIN (LA QUE ARRANCA LA APP) -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">

            <!-- ESTA ES LA QUE ARRANCA LA APP -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- Activity de REGISTRO -->
        <activity
            android:name=".Registro"
            android:exported="false" />

        <!-- Activity de MenuPrincipal -->
        <activity
            android:name=".MenuPrincipal"
            android:exported="false" />

        <!-- Activity Menu Datos Personales-->
        <activity
            android:name=".MenuDatosPer"
            android:exported="false" />

        <!-- Activity Menu Historial Militar -->
        <activity
            android:name=".MenuHistoProfe"
            android:exported="false" />

        <!-- Activity Menu Meritos y Formaciones -->
        <activity
            android:name=".MenuMeritoFor"
            android:exported="false" />

        <!-- Activity Menu Otros Registros -->
        <activity
            android:name=".MenuOtrosRegi"
            android:exported="false" />




    </application>

</manifest>